<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="description" content="Cofetaria Dulcelind ofera prajituri, torturi, produse de patiserie cu optiunea de achizitie online si livrare prin curier.">
        <meta name="keywords" content="cofetarie, Dulcelind, prajituri, torturi, dulce, pateuri, produse">
        <link rel="stylesheet" href="/resurse/css/produse.css" type="text/css" />
        <script src="/resurse/js/produse.js"></script>
        <title>Drobeta Records - home</title>
        <%- include("../fragmente/head") %>     
        <!-- <script type="text/javascript" src=/resurse/js/produse.js></script> -->
    </head>
    <body>
    <%- include("../fragmente/header") %>

    <main>
        <label> Nume: <input type="text" id="inp-nume"></label>
        <!--<label> Maxim calorii: <input type="number" id="inp-calorii" value="10000"></label>-->
        <div> Dimensiune:<!-- trebuie sa aiba acelasi name ca sa formeze un grup -->
            <p><label>Single/CD (Dimensiune &le; 7")
                <input id="i_rad1"  name="gr_rad" value="0:7" type="radio"/>
            </label></p>
            <p><label>LP (7" &lt; Dimensiune &le; 10")
                <input id="i_rad2"  name="gr_rad" value="7:10" type="radio"/>
            </label>
            <p><label>LP Mare (10" &lt; Dimensiune &le; 12")
                <input id="i_rad3" name="gr_rad" value="10:12" type="radio"/>
            </label>
            <p><label>Toate
                <input id="i_rad4" checked name="gr_rad" value="toate" type="radio"/>
            </label>
        </div>


        <label> Pret minim: <input type="range" id="inp-pret" value="0" min="0"  max="120"> <span id="infoRange">(0)</span></label>
        <label>Select simplu:
            <select id="inp-categorie">
                <option id="sel-toate" selected value="toate">toate</option>
                <% for (let opt of locals.optiuni) { %>
                    <option value="<%- opt.unnest %>"><%- opt.unnest %> </option>
                <% } %>
            </select>
        </label>

        <label>Lună adăugare:
            <select id="inp-luna" multiple>
                <option value=1 selected="selected">Ianuarie</option>
                <option value=2 selected="selected">Februarie</option>
                <option value=3 selected="selected">Martie</option>
                <option value=4 selected="selected">Aprilie</option>
                <option value=5 selected="selected">Mai</option>
                <option value=6 selected="selected">Iunie</option>
                <option value=7 selected="selected">Iulie</option>
                <option value=8 selected="selected">August</option>
                <option value=9 selected="selected">Septembrie</option>
                <option value=10 selected="selected">Octombrie</option>
                <option value=11 selected="selected">Noiembrie</option>
                <option value=12 selected="selected">Decembrie</option>
                
            </select>
        </label>

        <label>Afișează doar produsele cu discount pentru disc-urile colorate:
            <input id="inp-disc-colorat" type="checkbox"></input>
        </label>
        <br>

        <label>Genuri:
            <input list="inp-genuri" type="text" id="input-genuri">
            <datalist id="inp-genuri">
                <option value="Pop-Punk">Pop-Punk</option>
                <option value="Midwest-Emo">Midwest-Emo</option>
                <option value="Math-Rock">Math-Rock</option>
                <option value="Punk">Punk</option>
                <option value="Indie">Indie</option>
                <option value="Alternative">Alternative</option>
            </datalist>
        </label>

        <br>

        <label>Introdu descrierea:<br>
            <textarea id="inp-descriere">

            </textarea>
        </label>

        <p>
        <button id="filtrare">Filtreaza</button> <button id="resetare">Reseteaza</button><br/>
        <button id="sortCrescNume">Sorteaza crescator dupa numele artistului si pret</button>
        <button id="sortDescrescNume">Sorteaza descrescator dupa numele artistului si pret</button>
        
        </p>
        
        <section id="produse">
            <h2>Produse</h2>
            <div class="grid-produse">
                <% for( let prod of locals.produse) { %>
                    <article class="produs" >
                        <h3 class="nume">Nume: <a href="/produs/<%-prod.id %>" ><span class="val-nume"><%- prod.nume%></span></a></h3>
                        <div id="wrapper_prod">
                            
                            <div id="col1_prod">
                                <figure>
                                    <a href="/produs/<%-prod.id %>" ><img src="/resurse/imagini/produse/<%- prod.imagine %>" alt="[imagine <%- prod.nume %>]" /></a>
                                </figure>
                                <p class="categorie">Categorie: <span class="val-categorie"><%- prod.categorie%></span></p>
                                <p class="pret">Pret: <span class="val-pret"><%- prod.pret%></span></p>
                            </div>
                            
                            <div class="info-prod">
                                <details>
                                    <summary>Detalii produs</summary>
                                        <ul>
                                            <li><p class="artist">Artist: <span class="val-artist"><%- prod.artist%></span></p></li>
                                            <li><p class="genuri">Genuri: <span class="val-genuri"><%- prod.genuri%></span></p></li>
                                            <li><p class="descriere">Descriere: <span class="val-descriere"><%- prod.descriere%></span></p></li>
                                            <li><p class="disc_colorat">Disc colorat: <span class="val-disc_colorat"><%- prod.disc_colorat %></span></p></li>
                                            <li><p class="dimensiune">Dimensiune: <span class="val-dimensiune"><%- prod.marime%></span></li>
                                            <li><p class="data">Data adaugării: <span class="val-data"><time datetime=<%- prod.data_adaugare%>><%- prod.data_adaugare%></time></span></p></li>
                                        </ul>
                                    
                                </details>
                            </div>
                            
                            
                        </div>
                        <label class="selecteaza-cos">
                            <input type="checkbox" class="select-cos" value="<%-prod.id %>" autocomplete="off" style="display: none">
                            <div class="selecteaza-content">
                                <i class="fas fa-shopping-cart"></i><br/>
                            </div>
                        </label>
                    </article>
                <% }%>
            </div>
        </section>
    </main>

    <%- include("../fragmente/footer") %>
    </body>
</html>